{% extends "wagtailadmin/skeleton.html" %}
{% load wagtailadmin_nav %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
    .field-name {
        width: 85%;
        margin-left: 0;
        float: left;
    }

    .field-pricing {
        width: 10%;
        margin-left: 20px;
        float: left;
    }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
    $(document).ready(
        $('#id_menu_items-FORMS .fields li').each(function(idx, el){
            var name = $(el).find('.field input').attr('name');
            var parts = name.split('-');
            name = parts[parts.length-1];
            $(el).addClass('field-' + name);
        })
    );
    </script>
{% endblock %}

{% block furniture %}
    <div class="nav-wrapper">
        <div class="inner">
            <a href="{% url 'wagtailadmin_home' %}" class="logo"><img src="{{ STATIC_URL }}wagtailadmin/images/wagtail-logo.svg" alt="Wagtail" width="80" /><span>Dashboard</span></a>
            {% main_nav %}
        </div>

        <nav class="explorer">
            <ul class="dl-menu">
                {% explorer_nav %}
            </ul>
        </nav>
    </div>

    <div class="content-wrapper">
        <div class="content">
            {# Always show messages div so it can be appended to by JS #}
            <div class="messages">
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div id="nav-toggle" class="icon text-replace">Menu</div>

            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
