{% extends "base.html" %}
{% load rich_text %}

{% block content %}
<h1>Homepage</h1>

{{ self.intro|richtext }}

<ul>
{% for featured_section in self.featured_sections.all %}
<li>
    <h2>
        <a href="{{ featured_section.section.url }}">
            {{ featured_section.section.title }}
        </a>
    </h2>

    <ul>
    {% for page in featured_section.section.get_children %}
    <li>
        <h3>
            <a href="{{ page.url }}">
                {{ page.title }}
            </a>
        </h3>
    </li>
    {% endfor %}
    </ul>

</li>
{% endfor %}
</ul>

{% endblock %}
